.episode-sheet{
    background-color: #F0F0F0;
    width: 50%;
    border-radius: 10px;
    border-style: solid;
    border-width: 4px;
    border-color: #1E2430;
    max-height: 100%;
    overflow: auto;
}

.ep-name{
    text-align: center;
}

.season-episode-container{
    display: flex;
    justify-content: center;
}

.ep-season{
    padding: 2px;
    border-style: solid;
    border-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.description-text{
    margin-bottom: 0px;
    font-size: 25px;
}

.ep-episode{
    padding: 2px;
    border-style: solid;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ep-description{
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    text-indent: 50px;
}

.popularity-air-date-container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.ep-popularity{
    margin-left: 5px;
}

.ep-air-date{
    margin-right: 5px;
}