.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FEC356;
    height: 100vh;
    width: 100vw;
}

@media screen and (max-width: 50em) {
    .app{
        height: fit-content;
    }
}