.episode-details-and-button-container{
    margin-top: 5px;
}

.go-back-button{
    border-style: none;
    border-style: solid;
    border-width: 4px;
    border-color: #1E2430;
    border-radius: 40px;
    font-size: 3vh;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.episode-details-container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    border-width: 4px;
    border-color: #1E2430;
    width: 70vw;
    border-radius: 20px;
    height: 35vh;
}

.episode-img{
    width: 100%;
    margin-top: 15px;
    border-top: 20px;
    border-bottom: 20px;
    border-style: solid;
}

.tv-img{
    position: absolute;
    width: 200%;
}

.img-overlay-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    position: relative;
    margin-right: 7%;
    margin-bottom: 3%;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 50em) {
    .episode-details-and-button-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 75vh;
        margin-bottom: 2vh;
    }

    .episode-details-container{
        flex-direction: column;
        align-items: center;
        height: 90%;
    }

    .img-overlay-container{
        width: 50%;
        margin-top: 9vh;
    }
}