.rank-interface-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-review-text {
    margin: 0;
    font-size: 150%;
    text-align: center;
    width: 100%;
    padding-left: 2vh;
    padding-right: 2vh;
}

.my-review-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    position: relative;
    top: 30px;
    height: 5vh;
    border-radius: 40px;
    border-style: solid;
    border-width: 4px;
    border-color: #1E2430;
}

.button-ui {
    border-style: solid;
    border-width: 4px;
    border-color: #1E2430;
    border-radius: 20px;
    width: 70vw;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.rank-img {
    width: 8vw;
}

.rank-button {
    background-color: #FEC356;
    border-style: none;
    border-radius: 100%;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 5px;
    width: 30%;
    text-align: center;
}

.button-text {
    margin: 0;
}

@media screen and (max-width: 50em) {
    .rank-interface-container {
        margin-bottom: 5vh;
    }

    .rank-img {
        width: 14vw;
    }
}